body {
    background-color:dimgrey;
    margin-left:50px;
    margin-top:100px;
}
.jeu-style {
    margin-top:60px;
}
.display{
    font-size: 35px;
    border: 2.5px solid #000;
    background-color:#335A7D;
    margin: 10px;
    padding:20px;
}
footer{
    margin-top:400px;
}
#soumettre{
    margin-top:10px;
}
#jeu {
    max-width:500px;
}
#minuterie{
    font-size:28px;
    position:relative;
    bottom:95px;
    left:125px;
}